/* Reset and Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
}


.logo {
    margin-right: auto;
}

.logo img {
    max-width: 200px; /* Adjust logo size as needed */
    margin-bottom: 30px;
    margin-left: 20px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; 
    margin: 0 auto;
    border: 2px solid #004600;
    border-radius: 4px; /* Add border-radius */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex: 1;
}

nav ul li:last-child {
    margin-right: 0; 
}

nav ul li a {
    display: block;
    text-align: center;
    line-height: 80px;
    color: #004600;
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-weight: bold;
}

nav ul li#contact-link {
    margin-left: auto;
}

/* Main Content Styles */
main {
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-radius: 4px; /* Add border-radius */
}

.opening-section {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 50px 0;
    color: #fff;
    border: 2px solid black;
    padding: 20px;
    border-radius: 4px; /* Add border-radius */
}

.tagline h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #004600;
    font-family: Arial, Helvetica, sans-serif;
}

.opening-section {
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    color: #fff; /* Text color (assuming light text on a dark background) */
    padding: 50px 0;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    border-radius: 4px; /* Add border-radius */
}

/* Animation Styles */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in-text {
    animation: fadeIn 1s ease forwards;
}

@keyframes underline {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.fade-in-text::after {
    content: '';
    display: block;
    width: 0;
    height: 2px; 
    background-color: #333; 
    margin-top: 5px; 
    animation: underline 1s ease forwards; 
}

/* Additional Styles */
.fa {  
    padding: 20px;  
    text-align: center;  
    margin: 5px 2px;  
    font-size: 30px;  
    width: 50px;  
} 

html {
    scroll-behavior: smooth;
}

.giant-slogan {
    text-align: center;
    margin-top: 100px;
}

.giant-slogan h2 {
    font-size: 80px;
    color: #004600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: lighter;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul li img {
    width: 50%;
    height: auto;
}

.overview p {
    color: #004600;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.6;
}


.product-image {
    border: 2px solid #004600;
    max-width: 500px;
    position: relative;
    left: 500px;
    border-radius: 4px; /* Add border-radius */
}

.product-image video {
    width: 100%;
    height: auto;
}

button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(250%, -1480%);
    z-index: 10000;
    background-color:#004600;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border-radius: 4px; /* Add border-radius */
}
.price {
    position: relative;
    text-align: center;
    color: #004600;
}